.hero-page-container {
    background-color: rgba(0, 0, 0, 0.707);
    background-image: url('../assets/background-images/landing-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    background-blend-mode: darken;

}

.hero-content p{
    margin: 1em 0;
}

.hero-title {
    color: red  ;
}

.hero-content {
    margin-bottom: 5em;
}

.hero-text-content {
    z-index: 1;
    overflow: hidden;
}



.btn-hero {
    width: 90vw;
    border-radius: 1em;
    border: 1px solid white;
    background-color: #3CBDE6;
    padding: 1em 2em;
    color: white;
    font-size: 1.2em;
    margin: 1em;
    font-weight: bold;
    border: 0;
}

.hero-visual {
    margin: 2em;
    position: absolute;
    right:  25%;
    top: 25%;
    opacity: 30%;
}

@media (min-width: 550px) {
    

    .hero-content {
        width: 70%;

      

        button {
            width: 70%;
        }
    }

    .hero-visual {
        left: 25%;
    }
}