.product-container {
    background: rgba(0, 0, 0, 0.662);
    background-image: url('../assets/background-images/ProductHero.png');
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    color: white;
}

.product-wrapper {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.642);
    background-image: url('../assets/background-images/landing-hero.jpg');
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    border-radius: 1em;
}

.prod-header {
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.button-wrapper {
}

.header {
    flex-direction: column-reverse;
}


.product-wrapper button {
    margin: 2em 0;
    padding: 1em 2em;
    font-weight: bold;
    background-color: transparent;
    border-radius: 1em;
    border: 1px solid white;
    color: white;
}

.prod-header h1 {
    font-size: 3em;
    text-align: left;
}


.prod-lower {

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.prod-lower img {
    margin: 1em;
    border-radius: 1em;
    width: 7rem;
}

@media (min-width: 550px){
    .product-wrapper {
        width: 70%;
    }

    .product-wrapper button {
    }

    .prod-header {
        flex-direction: row;
    }

    .prod-lower {
        flex-direction: row;
    }

    .prod-header p {
        width: 40%;
        text-align: right;
    }

  
}