.product-item-page-wrapper {
    background-color: rgba(0, 0, 0, 0.729);
    background-image: url('../assets/background-images/ProductHero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100%;

}

.product-item-page-wrapper {
   
    padding: 1em;
    color: white;
}

.product-item-page-wrapper h1{
    margin: 1em 0;
    font-size: 3rem;
}

.product-item-page-wrapper p {
    margin: 1em 0    ;
}

.product-item-page-wrapper button {
    margin: 1em 0;
    padding: 1em 3em;
}





.product-item-page-content {
    flex-direction: column;
    
    text-align: center;
  
    padding: 1em;
    color: white;
}

.left-content img {
    border-radius: 1em;
}


.right-content {
    justify-content: space-between;
}

.right-content button {
    background-color: #3CBDE6;
}

.product-info-wrapper {
    width: 100%;
    position: relative;
    background-color: white;
    color: black;
    padding: 1em;
    border-radius: 1em;
    -webkit-box-shadow: 1px 2px 12px -5px rgba(66, 68, 90, 1);
-moz-box-shadow: 1px 2px 12px -5px rgba(66, 68, 90, 1);
box-shadow: 1px 2px 12px -5px rgba(66, 68, 90, 1);
}

.product-gallery {
    width: 100%;
    overflow-x: scroll;
    padding: 1em;
    margin: 1em 0;
}

.product-gallery img {
    margin: 0.5em 1em;
}

.key-features {
    margin: 1em 0;
}

.key-features h2 {
    text-align: center;
    margin: 1em;
}

.features-items-wrapper {
    flex-direction: column;
}

.features-item {
    margin: 0 0.5em;
    -webkit-box-shadow: 1px 2px 12px -5px rgba(66, 68, 90, 1);
-moz-box-shadow: 1px 2px 12px -5px rgba(66, 68, 90, 1);
box-shadow: 1px 2px 12px -5px rgba(66, 68, 90, 1);  
    padding: 1em;
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    p {
        font-size: 0.8em;
    }
}

.features-item img {
    margin: 00.5em 0;
    
}

@media (min-width: 550px){

    .left-content img {
        margin-right: 3em;
    }

    .product-item-page-wrapper {
    }

    .product-item-page-content {
        flex-direction: row;
        text-align: left;
        width: 70%;
    }

    .product-info-wrapper { 
        width: 60%;
        position: relative;
        bottom: 3em;
        padding: 1em 3em;
    }
}