
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Marko+One&family=Marmelad&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@500&family=Scheherazade+New:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-playfair: "Playfair Display", serif;

}

/* Remove any font-family from body or :root */
body {
  background-color: #ECEDF1; /* optional */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.fd-c {
  flex-direction: column;
}

.fd-r {
  flex-direction: row;
}

.ai-c {
  align-items: center;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-se {
  justify-content: space-evenly;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ai-fe {
  align-items: flex-end;
}

.jc-fe {
  justify-content: flex-end;
}


button {
  padding: 1em;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.vw100 {
  width: 100vw;
}

.vh100 {
  height: 100vh;
}

.card-shadow {
  -webkit-box-shadow: 8px 8px 39px -20px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 39px -20px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 39px -20px rgba(66, 68, 90, 1);
}

/*TEXT STYLES*/
.header-title {
  font-size: 2.5rem;
  margin: 1em 0;
}

.txt-a-c {
  text-align: center;
}


/***ROOT*/
@media (min-width: 550px) {
  
}



/* Other styles only, no default font */
h1, h2, h3, h4, h5, h6 {
  /* no font-family here either */
}
