@import 'tailwindcss';
<<<<<<< HEAD
=======

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
>>>>>>> b2ac2f44f53a8ebadb5e7f937bc1d4c3a45556aa

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.fd-c {
  flex-direction: column;
}

.fd-r {
  flex-direction: row;
}

.ai-c {
  align-items: center;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-se {
  justify-content: space-evenly;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ai-fe {
  align-items: flex-end;
}

.jc-fe {
  justify-content: flex-end;
}


button {
  padding: 1em;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.vw100 {
  width: 100vw;
}

.vh100 {
  height: 100vh;
}

.card-shadow {
  -webkit-box-shadow: 8px 8px 39px -20px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 39px -20px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 39px -20px rgba(66, 68, 90, 1);
}

/*TEXT STYLES*/
.header-title {
  font-size: 2.5rem;
  margin: 1em 0;
}

.txt-a-c {
  text-align: center;
}


/***ROOT*/
@media (min-width: 550px) {
  
}


